<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
		/>
		<title>EveryFollow | All your assets in one place</title>
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
		/>
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
		<link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
		/>
		<style>
			.showcase .showcase-img {
				background-size: contain;
			}
		</style>
	</head>

	<body>
		<%- include('nav') %>
		<header
			class="masthead text-white text-center"
			style="
				background: url('assets/img/bg-masthead.jpg') no-repeat center center;
				background-size: cover;
				background-image: url('assets/img/QP5lCV.png');
				background-color: #ffffff;
			"
		>
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div
						class="col-lg-9 col-xl-8 offset-xl-0 mx-auto"
						style="margin: 0; padding: 0;"
					>
						<h1 class="text-center mb-5">All your assets in one link</h1>
						<p class="lead">
							Get people to join your email list, follow you on twitter,
							subscribe to your blog, sell your products. All in 1 link. Stop
							limiting yourself and promote all your assets easily everytime you
							create content.
						</p>
						<a
							href="/app"
							class="btn btn-primary"
							type="button"
							style="margin: 40px 0 0 0;"
						>
							Launch App 100% Free
						</a>
						<p style="font-size: 12px;"><em>No registration required</em></p>
					</div>
				</div>
			</div>
		</header>
		<section class="features-icons bg-light text-center">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
							<div class="d-flex features-icons-icon">
								<i
									class="icon-screen-desktop m-auto text-primary"
									data-bs-hover-animate="pulse"
								></i>
							</div>
							<h3>1. Start the web app</h3>
							<p class="lead mb-0">
								Launch the app. No registration required and free forever.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
							<div class="d-flex features-icons-icon">
								<i
									class="icon-layers m-auto text-primary"
									data-bs-hover-animate="pulse"
								></i>
							</div>
							<h3>2. Add your links</h3>
							<p class="lead mb-0">
								Easily add the links to your assets such as your twitter page
								with a short description.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
							<div class="d-flex features-icons-icon">
								<i
									class="icon-check m-auto text-primary"
									data-bs-hover-animate="pulse"
								></i>
							</div>
							<h3>3. Share your unique link</h3>
							<p class="lead mb-0">
								You'll get a link where all your assets will be hosted. Share it
								to show your fans your assets in a clean page.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="showcase">
			<div class="container-fluid p-0">
				<div class="row no-gutters">
					<div
						class="col-lg-6 order-lg-2 text-white showcase-img"
						style="
							background-image: url('assets/img/flat_minimalism_dhoani_by_don_be_dd0endy-fullview.jpg');
						"
					>
						<span></span>
					</div>
					<div class="col-lg-6 my-auto order-lg-1 showcase-text">
						<h2><strong>For content creators</strong><br /></h2>
						<p class="lead mb-0">
							If you write articles, tweets, videos or podcasts you can now
							store all your links in one place. Simply add your unique link at
							the end of your articles and get people to follow you everywhere
							and buy your products. No more spammy looking articles.<br />
						</p>
					</div>
				</div>
				<div class="row no-gutters">
					<div
						class="col-lg-6 text-white showcase-img"
						style="background-image: url('assets/img/hosted.png');"
					>
						<span></span>
					</div>
					<div class="col-lg-6 my-auto order-lg-1 showcase-text">
						<h2><strong>Hosted for you</strong><br /></h2>
						<p class="lead mb-0">
							You'll get a unique link where all your assets will be stored.
							Free forever.<br />
						</p>
					</div>
				</div>
				<div class="row no-gutters">
					<div
						class="col-lg-6 order-lg-2 text-white showcase-img"
						style="background-image: url('assets/img/aaart.jpg');"
					>
						<span></span>
					</div>
					<div class="col-lg-6 my-auto order-lg-1 showcase-text">
						<h2><strong>Beautiful &amp; Easy-to-use</strong><br /></h2>
						<p class="lead mb-0">
							Motivate people to join your lists with a clean and
							straightforward interface. Extremely easy-to-use, just add your
							links to your page and share your unique link.<br />
						</p>
					</div>
				</div>
			</div>
		</section>
		<section
			class="call-to-action text-white text-center"
			style="
				background: url('assets/img/bg-masthead.jpg') no-repeat center center;
				background-size: cover;
				background-image: url('assets/img/20907.jpg');
			"
		>
			<div class="container">
				<h1 class="text-center mb-5">Get started now!</h1>
				<a
					href="/app"
					class="btn btn-primary"
					type="button"
					style="margin: 40px 0 0 0;"
				>
					Launch App 100% Free
				</a>
			</div>
		</section>
		<footer class="footer bg-light">
			<div class="container">
				<div class="row">
					<div
						class="col-lg-6 d-xl-flex justify-content-center my-auto h-100 text-center text-lg-left"
					>
						<p
							class="text-center d-xl-flex flex-grow-0 align-self-center"
							style="padding-top: 14px;"
						>
							Made by Merunas Grincalaitis. Let's talk: hi@merunas.org
						</p>
					</div>
					<div class="col-lg-6 my-auto h-100 text-center text-lg-right">
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
								<a href="https://twitter.com/merunas2" target="_blank"
									><i class="fa fa-twitter fa-2x fa-fw"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/js/script.min.js"></script>
	</body>
</html>
