body {
    margin: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}

.list-container {
    list-style-type: none;
    max-width: 700px;
    padding-left: 0;
}

.list {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.list .list-description {
    margin-bottom: 10px;
}